@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

.body {
  font-family: "Kanit", sans-serif;
  width: 100vw;
  height: 100vh;
}

.main {
  width: 100vw;
  height: 100vh;
  background: url(/assets/images/cropped-1893-924-613933.jpg) no-repeat left
    center / cover;
}

.display_flex {
  display: flex;
}

.main__div {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.margin {
  margin: 0;
  color: #ffffff;
}

.main__info {
  flex-direction: column;
  gap: 1.25rem 0;
  padding: 0.625rem;
}

.main__title {
  font-weight: 800;
  text-shadow: 0.1875rem 0.0625rem 0.75rem #2c1e55,
    -0.125rem 0.0625rem 0.9375rem rgb(0, 146, 255);
}

.main__button {
  text-align: center;
  width: 8.75rem;
  height: 2.8125rem;
  padding: 0.625rem;
  border: 0.125rem solid #ffffff;
  border-radius: 0.5rem;
  background-color: black;
  color: #ffffff;
}

.button__hover:hover {
  background-color: rgb(167, 153, 129);
}

@media (30.625rem<= width <=37.5rem) {
  .main__title {
    font-size: 2.25rem;
  }

  .main__text {
    font-size: 1.125rem;
  }
}

@media (37.5rem < width) {
  .main {
    background-position: center;
  }

  .main__title {
    font-size: 2.5rem;
  }

  .main__text {
    font-size: 1.25rem;
  }

  .main__button {
    width: 10rem;
    height: 3.125rem;
  }
}

@media (50rem <= width) {
  .main {
    background-size: cover;
  }

  .main__title {
    font-size: 3rem;
  }

  .main__div {
    justify-content: start;
  }

  .main__info {
    padding-left: 2.625rem;
  }

  .main__text {
    font-size: 1.375rem;
    width: 50rem;
  }

  .main__button {
    width: 10rem;
    height: 3.125rem;
    font-size: 1.125rem;
  }
}
